/* анимация первого экрана - купе */

@keyframes zagolovok {
    0% {
        margin-right: 50%;
    }

    50% {
        margin-left: 33%;
    }
}

@keyframes door1 {
    0% {
        width: 20vw;
    }
    50% {
        width: 35vw;
    }
}

@keyframes door2 {
    0% {
        width: 20vw;
    }
    50% {
        width: 35vw;
        margin-left: 65vw;
    }
}

@keyframes second {
    0% {
        transform: translateX(-27%)
    }
    
    100% {
        transform: translateX(-74%);
    }
}

@keyframes window {
    0% {
            height: 8vw;
        }
    
        50% {
            height: 25vw;
        }
}
@keyframes human {
    0% {
    background-position: -38vw;
        }
    
    50% {
    background-position: 0vw;
    }
}

.human:hover {
    animation-play-state: paused;
}
@keyframes circles {
    0% {
        background-position: 0vw;
    }

    50% {
        background-position: -31.25vw;
    }
}

@keyframes human2 {
    0% {
        background-position: 0vw;
    }

    50% {
        background-position: -32.5vw;
    }
}
.human2:hover {
    animation-play-state: paused;
}
@keyframes text {
    0% {
        margin-right: 20%;
    }

    50% {
        margin-left: 20%;
    }

    100% {
        margin-right: 20%;
    }
}
@keyframes down {
    0% {
        background-position-y: 100%;
    }
    
    100% {
        background-position-y: -100%;
    }
}
.down:hover {
    animation-play-state: paused;
}

/* собирающийся человечек */
@keyframes body {
    0% {
        margin-left: 34vw;
        margin-top: 16vw;
        transform: rotate(20.37deg);
    }
    50% {
        margin-left: 35vw;
        margin-top: 8vw;
        transform: rotate(0deg);
    }
    100% {
            margin-left: 34vw;
            margin-top: 16vw;
            transform: rotate(20.37deg);
        }
}
@keyframes hand-1 {
    0% {
        margin-left: 28vw;
        margin-top: 30vw;
        transform: rotate(95deg);
    }

    50% {
        margin-left: 3vw;
        margin-top: 28vw;
        transform: rotate(0deg);
    }

    100% {
        margin-left: 28vw;
        margin-top: 30vw;
        transform: rotate(95deg);
    }
}
@keyframes hand-2 {
    0% {
        margin-left: 50vw;
        margin-top: 30vw;
        transform: rotate(-92deg);
    }

    50% {
        margin-left: 75vw;
        margin-top: 27vw;
        transform: rotate(0deg);
    }

    100% {
        margin-left: 50vw;
        margin-top: 30vw;
        transform: rotate(-92deg);
    }
}
@keyframes leg-1 {
    0% {
        margin-left: 34vw;
        margin-top: 5vw;
        transform: rotate(21deg);
    }

    50% {
        margin-left: 8vw;
        margin-top: 5vw;;
        transform: rotate(0deg);
    }

    100% {
        margin-left: 34vw;
        margin-top: 5vw;
        transform: rotate(21deg);
    }
}
@keyframes leg-2 {
    0% {
        margin-left: 46vw;
        margin-top: 5vw;
        transform: rotate(-27deg);
    }

    50% {
        margin-left: 75vw;
        margin-top: 6vw;
        transform: rotate(0deg);
    }

    100% {
        margin-left: 46vw;
        margin-top: 5vw;
        transform: rotate(-27deg);
    }
}
@keyframes цель {
    0% {
        margin-left: 24vw;
    }

    50% {
        margin-left: -4vw;
    }

    100% {
        margin-left: 24vw;
    }
}
@keyframes ным {
    0% {
        margin-left: 41vw;
    }

    50% {
        margin-left: 71vw;
    }

    100% {
        margin-left: 41vw;
    }
}
@keyframes train {
    0% {
            background-position: 240vw;
        }
    
    50% {
            background-position: 0vw;
    }
    100% {
            background-position: -240vw;
    }
        
}